
-r requirements.txt

# See https://github.com/kevin1024/vcrpy/issues/888
urllib3==2.2.3
vcrpy==6.0.2 # TODO: 7.0.0 drops support for Python 3.8

PyYAML>=6.0.2
mock>=5.1.0
coverage==7.6.1
pytest-cov==5.0.0
coveralls>=4.0.1
